<% include ../partials/header %>

<div class="new_container">
	<form action="/ecotourism/<%= ecotourism_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
		  <h2 class="comment_header">Edit Comment</h2>
		 	<div class="container">
			  <div class="form-group">
			    <label for="content">Comment</label>
			    <textarea class="form-control" id="content" name="editcomment[content]"><%= comment.content %></textarea>
			  </div>
			  <br>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			  	<br><br>
			  	<a href="/ecotourism/<%= ecotourism_id %>">Go Back</a>
			</div>
	</form>
</div>

<% include ../partials/footer %>
