<% include ../partials/header %>

<div class="new_container">
	<form action="/ecotourism/<%= newdetails._id %>/comments" method="POST">
		  <h2 class="comment_header">Comment</h2>
		 	<div class="container">
			  <div class="form-group">
			    <label for="content">Comment</label>
			    <textarea class="form-control" id="content" name="newcomment[content]" placeholder="content"></textarea>
			  </div>
			  <br>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			  	<br><br>
			  	<a href="/ecotourism/<%= newdetails._id %>">Go Back</a>
			</div>
	</form>
</div>

<% include ../partials/footer %>