<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ecotourism</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<h1 class="title">Ecotourism</h1>
	<p class="details">Site from where you can plan your next visit</p>
	<a class="btn" href="/ecotourism">View all Places</a>
</body>
</html>