<% include ./partials/header %>

<div class="login_container register">
	<form action="/register" method="POST">
		<div class="login_header">Sign Up</div>
		<div class="container">
			<div class="form-group">
				<label for="Username">Username</label>
				<input type="text" class="form-control" id="Username" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" class="form-control" id="Password" name="password" placeholder="Password">
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
			<br><br>
			<a href="/ecotourism">Go Back</a>
			<p>Already have an account? <a href="/login">Login</a></p>
		</div>
	</form>
</div>

<% include ./partials/footer %>